/* Global Styles */
@import url("//fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans");

html, body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  height: 100%;
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* Richard's stuff */
/* Video section */
/* -------------------------------------------------- */
.video-container {
  /* width: 100%; */
  position: relative;
  background-color: #ebebeb;
}

.video-container video {
  background-image: url('../../static/images/waterfall_placeholder.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  /* background-color: #ebebeb; */
  /* width: 100%; */
  height: calc(100vh - 2*53px);
}

.video {
  margin: auto;
}

.headline-container {
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 50%;
}

.navbar {
  background-color: #ebebeb !important;
}

.headline-container h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 50px;

  /* Comment the following lines to disable the black opaque background */
  background-color: rgba(0, 0, 0, 0.33);
  display: block;
  padding: 5px 15px;
}

@media screen and (max-width: 992px) {
  .headline-container h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .headline-container h2 {
    font-size: 20px;
  }
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* Hero Video + Fallback */
/* #hero-vid { */
/*   background: url('../../static/images/waterfall_placeholder.jpg') no-repeat scroll 0 0 #000; */
/*   background-size: cover; */
/*   bottom: 0; */
/*   height: auto; */
/*   min-height: 100%; */
/*   min-width: 100%; */
/*   perspective: 1000; */
/*   position: fixed; */
/*   right: 0; */
/*   width: auto; */
/*   z-index: -1; */
/* } */

#content {
  background-color: white;
  padding: 2.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  object-fit: cover;
}


/* Sticky footer styles
-------------------------------------------------- */

a {
  color: black;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 40px; /* Margin bottom by footer height */
  font-family: 'Poppins', sans-serif;
  /* background: #fafafa; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  /* background-color: blue; */
  /* background-color: #f5f5f5; */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  padding: 0 15px;
}

#content {
  min-height: 90vh;
  z-index: 2;
  background-color: #ebebeb;
}


/* Sidebar styles
-------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  max-height: 40vh;
  margin-top: 10vh;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a:hover, a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

#pages {
  /* don't forget to add all the previously mentioned styles here too */
  /* background: #7386D5; */
  color: #fff;
  transition: all 0.3s;
}

#pages .sidebar-header {
  /* padding: 20px; */
  /* background: #6d7fcc; */
}

#pages ul.components {
  /* padding: 20px 0; */
  /* border-bottom: 1px solid #47748b; */
}

#pages ul p {
  color: #fff;
  /* padding: 10px; */
}

#pages ul li a {
  /* padding: 10px; */
  font-size: 1.1em;
  display: block;
}

/* #about a:hover { */
/*     color: black; */
/*     background: green; */
/* } */

#about.a:hover {
  color: black;
  background-color: blue;
  background: green;
  border-color: #1d2124;
}

#pages ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}


/* Style the video: 100% width and height to cover the entire window
-------------------------------------------------- */
/* #VideoBG { */
/*   filter: opacity(75%); */
/*   z-index: -1; */
/*   position: absolute; */
/*   right: 0; */
/*   top: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   overflow: hidden; */
/*   [> max-width: 100%; <] */
/* } */

/* logos 
-------------------------------------------------- */

#logo {
  /* width: 110px; */
  height: 100px;
  background-color: transparent;
  /* background-color:rgba(0, 0, 0, 0.5); */
}

#logo-aci {
  width: 180px;
  height: 70px;
  background-color: transparent;
  /* background-color:rgba(0, 0, 0, 0.5); */
}

